.container{
    display:grid;
    margin:auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
    "hd"
    "main"
    "ft";
    grid-gap:2px;
    border: 2px solid pink;
    width: 100%;
    height:99%;
    overflow: hidden;

}

.header{
    grid-area:hd; 
    display:inline;
    background-image: url('file:///Users/nikolastankovic/Desktop/Blog_website/static/image1.jpeg');
    background-size:cover;

}
.footer{
    grid-area:ft;
    padding-left: 45%;
    padding-bottom: 10%;
    background-color:pink;

}
.content{
    grid-area:main;
    background-image: url('file:///Users/nikolastankovic/Desktop/Blog_website/static/image2.jpeg');
    background-size: cover;
    padding: 30px;
    padding-top: 30px;
    width: 99%;
    height:100%;
    overflow: hidden;
}

.text{
    padding: 30px;
    font-size: x-large;
    color: white;
    text-align: left;
    background-color: blue;
    border-radius: 10%;
    border: 1px;
    width: 90%;
}

